@{
    ViewBag.Title = "Thank You";
}

<!--? Hero Start -->
<div class="slider-area2">
    <div class="slider-height2 hero-overly2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2>Company Request</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img />
                <h2 class="contact-title" style="text-align:center;">Thank you for submitting company request. We will get back to you soon.</h2>
            </div>
        </div>
    </div>
</section>
