@using AttendanceSystem.ViewModel
@using AttendanceSystem.Helper
@{
    ViewBag.Title = "Services";

    List<OurClientVM> lstOurClients = ViewData["lstOurClients"] as List<OurClientVM>;
}

<!--? Hero Start -->
<div class="slider-area2">
    <div class="slider-height2 hero-overly2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- Services Area Start -->
<section class="support-company-area section-bg fix" id="experience">
    <img src="/Content/client-theme/assets/img/contrabook/our-services.png" class="img-fluid" alt="Responsive image">
</section>
<!-- Services Area End -->
<!-- Our Clients Start -->
@if (lstOurClients != null && lstOurClients.Count > 0)
{
    <div class="brand-area pb-140 section-padding30">
        <div class="container">
            <div class="row">
                <div class="cl-xl-7 col-lg-8 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-70">
                        <span>Our valuable clients</span>
                        <h2>Our Clients</h2>
                    </div>
                </div>
            </div>
            <div class="brand-active brand-border pb-40">

                @foreach (OurClientVM obj in lstOurClients)
                {
                    string clientLink = !string.IsNullOrEmpty(obj.SponsorLink) ? obj.SponsorLink : "javascript:void(0);";
                    <div class="single-brand" title="@obj.SponsorName">
                        <a href="@clientLink">
                            <img src="@ErrorMessage.OurClientDirectoryPath/@obj.SponsorImage" alt="">
                        </a>
                    </div>
                }


            </div>
        </div>
    </div>
}
<!-- Our Clients End -->