@{ 
    ViewBag.Title = "Services";
    List<OurClientVM> lstOurClients = ViewData["lstOurClients"] as List<OurClientVM>; 
}

<!--? Hero Start -->
<div class="slider-area2">
    <div class="slider-height2 d-flex align-items-center" style="background-image: url(@ViewBag.HeroUrl)">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2>@*Our Services*@</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
 
@if (ViewBag.ServiceImage != null)
{
<section class="support-company-area section-bg fix" id="experience">
    <img src="@ViewBag.ServiceImage" class="img-fluid" alt="Responsive image">
</section>} 