AttendanceSystem/*.nupkg
AttendanceSystem/*.dll
AttendanceSystem/*.pdb
AttendanceSystem/*.xdt
AttendanceSystem/bin
AttendanceSystem/obj
packages
 
.vs/*
.git/
.dll
/AttendanceSystem/App_Data/24-07-21.txt
/AttendanceSystem/App_Data/28-07-21.txt
