
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Contract Book - @ViewBag.Title </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='~/favicon.ico' />

    <!-- CSS here -->
    <link rel="stylesheet" href="~/Content/client-theme/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/client-theme/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/client-theme/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/Content/client-theme/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/client-theme/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/client-theme/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/client-theme/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/client-theme/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/client-theme/assets/css/slick.css">
    <link rel="stylesheet" href="~/Content/client-theme/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/client-theme/assets/css/style.css">
</head>

<body class="body-bg">
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/Content/client-theme/assets/img/logo/loder.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top d-none d-lg-block" style="background-color: #FFCEA3;">
                    <div class="container">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>
                                        <li><i class="far fa-clock"></i> Mon - SAT: 09:00 AM - 06:30 PM</li>
                                        <li>Sun:  Closed</li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul class="header-social">
                                        <li><a target="_blank" href="https://www.facebook.com/ContractBookIndia"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a target="_blank" href="https://www.instagram.com/contract_book"><i class="fab fa-instagram"></i></a></li>
                                        <li> <a target="_blank" href="https://www.youtube.com/channel/UCpvuG8pN-HgbGobqRQuW5lQ"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom  header-sticky" style="background-color: #425C59">
                    <div class="container">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="/"><img src="~/Content/client-theme/assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="/">Home</a></li>
                                                <li><a href="/about">About</a></li>
                                                <li><a href="/service">Service</a></li>
                                                <li><a href="/faq">FAQ</a></li>
                                                <li><a href="/companyrequest">Company Request</a></li>
                                                <li><a href="/contact">Contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <!--? Footer Start-->
        <div class="footer-area section-bg" data-background="/Content/client-theme/assets/img/gallery/footer_bg.jpg">
            <div class="container">
                <div class="footer-top footer-padding">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <!-- logo -->
                                <div class="footer-logo" style="text-align: center;">
                                    <a href="/"><img src="~/Content/client-theme/assets/img/logo/logo.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p class="info1" style="text-align:justify;">Krupa Build Gallery In Godhra Has a Wide Range Of Products And Services To Cater To The Varied Requirements Of Their Customers. The Staff At This Establishment Are Courteous And Prompt At Providing Any Assistance.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Why We Choose </h4>
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/about">About Us</a></li>
                                        <li><a href="/contact">Contact Us</a></li>
                                        <li><a href="/companyrequest">Company Request</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>My Account</h4>
                                    <ul>
                                        <li><a href="/privacypolicy">Privacy Policy</a></li>
                                        <li><a href="/termscondition">Terms & Conditions</a></li>
                                        <li><a href="/service">Services</a></li>
                                        <li><a href="/faq">FAQ's</a></li>
                                        <li><a href="/howtouse">How To Use</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Address</h4>
                                    <div class="footer-pera">
                                        <p class="info1">
                                            @*<i class="fa fa-map-marker"></i>*@
                                            Krupa Build Gallery,  <br>
                                            Nr. Vasupujya Society, <br>
                                            Gadukpur Chokadi, Bamroli Road, <br>
                                            Vavdi Buzarg, Godhra-389001 (P.M.S)  <br>
                                            Gujarat - INDIA.
                                        </p>
                                        <p class="info1">
                                            <i class="fa fa-envelope"></i> Email Us: admin@contractbook.in <br />
                                            <i class="fa fa-phone-volume"></i> Toll Free: 1800 - 200 - 7003
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6 text-right" style="float: right;">
                            <span style="color: #FFCEA3; font-size: 22px;">Download App:</span>
                            <a target="_blank" href="#"><img src="~/Content/client-theme/assets/img/contrabook/google-play-store.png" style="width:150px;" alt="Google Play Store"></a>
                            <a target="_blank" href="#"><img src="~/Content/client-theme/assets/img/contrabook/app-store.png" style="width:150px;" alt="App Store"></a>
                            <a target="_blank" href="#"><img src="~/Content/client-theme/assets/img/contrabook/QRCode.jpg" alt="App Store"></a>
                        </div>
                    </div>

                </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-sm-12" style="text-align:center;">
                            <div class="footer-copy-right">
                                <p>
                                    &copy; 2021-22 Copyright - Krupa Build Gallery
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="~/Content/client-theme/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/Content/client-theme/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Content/client-theme/assets/js/popper.min.js"></script>
    <script src="~/Content/client-theme/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/Content/client-theme/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/Content/client-theme/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/client-theme/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/Content/client-theme/assets/js/wow.min.js"></script>
    <script src="~/Content/client-theme/assets/js/animated.headline.js"></script>
    <script src="~/Content/client-theme/assets/js/jquery.magnific-popup.js"></script>

    <!-- Nice-select, sticky -->
    <script src="~/Content/client-theme/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/client-theme/assets/js/jquery.sticky.js"></script>

    <!-- counter , waypoint -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="~/Content/client-theme/assets/js/jquery.counterup.min.js"></script>

    <!-- contact js -->
    <script src="~/Content/client-theme/assets/js/contact.js"></script>
    <script src="~/Content/client-theme/assets/js/jquery.form.js"></script>
    @*<script src="~/Content/client-theme/assets/js/jquery.validate.min.js"></script>*@
    <script src="~/Content/client-theme/assets/js/mail-script.js"></script>
    <script src="~/Content/client-theme/assets/js/jquery.ajaxchimp.min.js"></script>
    @*<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    <!-- Jquery Plugins, main Jquery -->
    <script src="~/Content/client-theme/assets/js/plugins.js"></script>
    <script src="~/Content/client-theme/assets/js/main.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
