
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @*<form action="/Home/Charge" method="POST">
                <article>
                    <label>Amount: $5.00</label>
                </article>
                <script src="//checkout.stripe.com/v2/checkout.js"
                        class="stripe-button"
                        data-key="@ViewBag.StripePublishKey"
                        data-locale="auto"
                        data-description="Sample Charge"
                        data-amount="500">
                </script>
            </form>*@


    </div>
    <div class="row">
        <div class="container col-md-2 col-md-offset-5">
            <h5>Upgrade your account</h5>
            <form action="/Premium/Charge" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="MYKEY"
                        data-amount="1000"
                        data-name="My Project Name"
                        data-description="Premium Account (€10)"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto"
                        data-zip-code="true"
                        data-currency="eur">
                </script>
            </form>
        </div>
</body>
</html>
