
@{
    Layout = null;
}

<a href="javascript:void(0);" class="btn-solid btn" id="btnBuy">Buy</a>
 

<div class="dvrazorpayscript"></div> 

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

    $(document).on("click", "#btnBuy", function () {

        var StrURL = '/Admin/PaymentGateway/CreateRazorPaymentOrder'; 
        $.ajax({
            url: StrURL,
            type: "post",
            dataType: "html",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ Amount: 5, description: "Test" }), //add parameter
            success: function (data) {
                debugger;
                //success
                $('.dvrazorpayscript').html(data); //populate the tab content. 

                

            },
            error: function () {
                debugger;
                alert("error");
            }
        });

    });

</script>