
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @*<form action="/Home/Charge" method="POST">
            <article>
                <label>Amount: $5.00</label>
            </article>
            <script src="//checkout.stripe.com/v2/checkout.js"
                    class="stripe-button"
                    data-key="@ViewBag.StripePublishKey"
                    data-locale="auto"
                    data-description="Sample Charge"
                    data-amount="500">
            </script>
        </form>*@

        <form action="/Home/Charge" method="POST">
            <article>
                <label>Amount: $5.00</label>
            </article>
            <script src="//checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key="@ViewBag.StripePublishKey" data-locale="auto" data-description="Sample Charge" data-amount="500">
            </script>
        </form>
    </div>
</body>
</html>
