@using AttendanceSystem.Models
@{
    ViewBag.Title = "About Us";

    List<tbl_DynamicContent> lstContent = ViewData["lstContent"] as List<tbl_DynamicContent>;
}

<!--? Hero Start -->
<div class="slider-area2">
    <div class="slider-height2 hero-overly2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2>FAQ</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-details section-paddingt15">
    <div class="container">

        <div class="accordion">
            <div class="row">

                <div class="accordion theme-accordion" id="accordionExample" style="width:100%;">
                    @{ int counter = 1; }
                    @if (lstContent != null && lstContent.Count > 0)
                    {
                        foreach (tbl_DynamicContent obj in lstContent)
                        {
                            <div class="card">
                                <div class="card-header" id="infraTwo">
                                    <a href="#collapseTwo_@counter" class="collapsed" data-toggle="collapse" data-target="#collapseTwo_@counter" aria-expanded="false" aria-controls="collapseTwo_@counter">
                                        <p class="mb-0 accordianTitle">@obj.ContentTitle</p>
                                    </a>
                                </div>
                                <div id="collapseTwo_@counter" class="collapse" aria-labelledby="infraTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        @{ string desc = obj.ContentDescription.Replace("\n", "<br />\n"); }
                                        @Html.Raw(desc)
                                    </div>
                                </div>
                            </div>
                            counter++;
                        }
                    }

                </div>

            </div>
        </div>

    </div>
</div>