@{
    ViewBag.Title = "Contact Us";
}

<!--? Hero Start -->
<div class="slider-area2">
    <div class="slider-height2 d-flex align-items-center" style="background-image: url(/Content/client-theme/assets/img/contrabook/hero_contactus.png)">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        @*<h2>Contact Us</h2>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<section class="contact-section">
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4">
            <iframe src="https://maps.google.com/maps?q=Krupa%20build%20gallery%2C&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Get in Touch</h2>
            </div>
            <div class="col-lg-8">
                <form class="form-contact contact_form" id="contactForm" novalidate="novalidate">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control valid" id="txtFirstname" type="text" placeholder="Enter First name *">
                                <span id="spn_Firstname" class="field-validation-valid text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control valid" id="txtLastname" type="text" placeholder="Enter Last name *">
                                <span id="spn_Lastname" class="field-validation-valid text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control valid" id="txtMobileno" type="text" placeholder="Enter Mobile No *">
                                <span id="spn_Mobileno" class="field-validation-valid text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control valid" id="txtEmail" type="email" placeholder="Enter Email address *">
                                <span id="spn_Email" class="field-validation-valid text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control w-100" id="txtMessage" cols="30" rows="9" placeholder=" Write Your Message *"></textarea>
                                <span id="spn_Message" class="field-validation-valid text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button id="btnContactFormSubmit" type="button" class="button button-contactForm boxed-btn">Send</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Krupa Build Gallery,</h3>
                        <p>
                            Nr. Vasupujya Society, Gadukpur Chokadi, Bamroli Road, <br />
                            Vavdi Buzarg, Godhra-389001 (P.M.S) <br />
                            Gujarat - INDIA.
                        </p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>1800 - 200 - 7003</h3>
                        <p>Mon to Sat: 9:30 AM to 6:30 PM</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>admin@contractbook.in</h3>
                        <p>Send us your query anytime!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    $(document).on("click", "#btnContactFormSubmit", function () {

        var isvalid = true;
        var field_required_msg_full = 'This field is required';

        var txtFirstname = $("#txtFirstname").val();
        var txtLastname = $("#txtLastname").val();
        var txtMobileno = $("#txtMobileno").val();
        var txtEmail = $("#txtEmail").val();
        var txtMessage = $("#txtMessage").val();

        //txtFirstname
        if (IsEmptyOrNull(txtFirstname)) {
            $("#spn_Firstname").text(field_required_msg_full);
            $("#spn_Firstname").show();
            isvalid = false;
        }
        else {
            $("#spn_Firstname").hide();
        }

        //txtLastname
        if (IsEmptyOrNull(txtLastname)) {
            $("#spn_Lastname").text(field_required_msg_full);
            $("#spn_Lastname").show();
            isvalid = false;
        }
        else {
            $("#spn_Lastname").hide();
        }

        // txtMobileno
        if (IsEmptyOrNull(txtMobileno)) {
            $("#spn_Mobileno").text(field_required_msg_full);
            $("#spn_Mobileno").show();
            isvalid = false;
        }
        else {
            $("#spn_Mobileno").hide();
        }

        // txtMessage
        if (IsEmptyOrNull(txtMessage)) {
            $("#spn_Message").text(field_required_msg_full);
            $("#spn_Message").show();
            isvalid = false;
        }
        else {
            $("#spn_Message").hide();
        }

        if (!isvalid) {
            return false;
        }

        var ContactFormVM = {
            "Firstname": txtFirstname,
            "Lastname": txtLastname,
            "MobileNo": txtMobileno,
            "EmailId": txtEmail,
            "Message": txtMessage
        };

        var URL = '@Url.Action("SaveContactForm", "Contact")';
        $.ajax({
            type: 'POST',
            async: true,
            url: URL,
            data: {
                ContactDetail: JSON.stringify(ContactFormVM)
            },
            success: function (response) {
                debugger;
                if (response.IsError) {
                    alert(response.ErrorMessage);
                    //StopLoading();
                }
                else {
                    alert("We have received your request.. We will get back to you soon.");

                    $("input.form-control, textarea.form-control").val('');
                    $(".field-validation-valid").hide();

                }
            },
            error: function (resultData) {
                debugger;
                alert("error");
                //StopLoading();
            }
        });

    });

    function IsEmptyOrNull(value) {
        if (value == "" || value == undefined || value == NaN)
            return true;
        else
            return false;
    }

</script>