
@{
    ViewBag.Title = "URL Redirect";
}


<section class="section">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <img src="~/Content/admin-theme/assets/img/Unauthorized.jpg" />
                </div>
            </div>
            </div>
    </div>
</section>
