@model AttendanceSystem.ViewModel.AccountModels.ChangePasswordVM

@{
    ViewBag.Title = "ChangePassword";
}

<section class="section">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="background-color: #425C59; display: block;">
                    <div class="pull-left">
                        <h4 style="color: #FFCEA3;">Change Password</h4>
                    </div>
                </div>
            </div>
            <div class="card card-primary">
                <div class="card-body">

                    <div class="form-group col-sm-4">
                        <label for="email">Current password *</label>
                        @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", @placeholder = "Current Password", @autocomplete = "off" })
                        <span id="spn_current_pwd" class="text-danger field-validation-error"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="password">New Password *</label>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password", @autocomplete = "off" })
                        <div id="pwindicator" class="pwindicator">
                            <div class="bar"></div>
                            <div class="label"></div>
                        </div>
                        <span id="spn_new_pwd" class="text-danger field-validation-error"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="password-confirm">Confirm Password *</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @autocomplete = "off" })
                        <span id="spn_confirm_pwd" class="text-danger field-validation-error"></span>
                    </div>
                    <div class="form-group col-sm-2">
                        @Html.HiddenFor(m => m.UserName)
                        <button type="button" id="btn_submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                            Change Password
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<!-- OTP Popup -->
<div class="modal fade" id="OtpModal" tabindex="-1" role="dialog" aria-labelledby="formModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Mobile Verification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="">
                    <div class="form-group">
                        <label>OTP</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-envelope"></i>
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="OTP" name="OTP" id="TextOTP">
                        </div>
                    </div>
                    
                    <input type="hidden" id="OTP" />
                    <button type="button" id="BtnOtpSubmit" class="btn btn-primary m-t-15 waves-effect">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btn_submit').click(function (e) {
            var isvalid = true;
            var required_text = "This field is required";
            var currentPwd = $("#CurrentPassword").val();
            var newPwd = $("#NewPassword").val();
            var confirmPwd = $("#ConfirmPassword").val();

            if (currentPwd == "") {
                $("#spn_current_pwd").text(required_text);
                $("#spn_current_pwd").show();
                isvalid = false;
            }
            else {
                $("#spn_current_pwd").hide();
            }

            if (newPwd == "") {
                $("#spn_new_pwd").text(required_text);
                $("#spn_new_pwd").show();
                isvalid = false;
            }
            else {
                $("#spn_new_pwd").hide();
            }

            if (confirmPwd == "") {
                $("#spn_confirm_pwd").text(required_text);
                $("#spn_confirm_pwd").show();
                isvalid = false;
            }
            else {
                $("#spn_confirm_pwd").hide();
            }

            if (newPwd != "" && confirmPwd != "") {
                if (newPwd != confirmPwd) {
                    $("#spn_confirm_pwd").text("New password and confirm password must be same.");
                    $("#spn_confirm_pwd").show();
                    isvalid = false;
                }
            }

            if (isvalid) {
                ValidateCurrentPassword();
            }

        });
    });

    function ValidateCurrentPassword() {
        StartLoading();
        var currentPwd = $("#CurrentPassword").val();
        var StrURL = '/Admin/Setting/ValidateCurrentPassword?currentPassword=' + currentPwd;
            $.ajax({
                url: StrURL,
                cache: false,
                //data: {
                //    'PackageId': packageId
                //},
                type: 'POST',
                success: function (result) {
                    StopLoading(); 
                    if (result.IsValid) {
                        var sentOTP = result.OTP; 
                        $("#OTP").val(sentOTP);
                        $('#OtpModal').modal('show');
                    }
                    else {
                        $("#spn_current_pwd").text("Current Password is Invalid");
                        $("#spn_current_pwd").show();
                    }
                },
                error: function (req, status, error) { 
                    StopLoading(); 
                    alert(error);
                }
            });
    }

    $('#BtnOtpSubmit').click(function () {
        var OTP = $("#OTP").val();
        var TextOTP = $("#TextOTP").val();

        if (TextOTP == OTP) {
            $('#OtpModal').modal('hide');
            FinallyChangePassword();
        } else {
            alert("Wrong OTP you have entered.");
            return false;
        }
    });

    function FinallyChangePassword() {
        StartLoading();
        var newPwd = $("#NewPassword").val();
        var StrURL = '/Admin/Setting/ChangePassword?NewPassword=' + newPwd;
        $.ajax({
            url: StrURL,
            cache: false,
            //data: {
            //    'PackageId': packageId
            //},
            type: 'POST',
            success: function (result) {
                StopLoading(); 
                if (result == "success") {
                    alert("Password changed successfully.");
                    window.location.reload();
                }
                else {
                    alert("Something went wrong");
                }
            },
            error: function (req, status, error) {
                StopLoading();
                alert(error);
            }
        });
    }

</script>